<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Articles</title>
</head>
<body>

<div>
    <h1>Creating Article page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aspernatur autem dolor eum ipsam iure maiores
        quae quos voluptatibus. Consequatur culpa earum ipsa pariatur rem similique, unde voluptatibus! Atque cum
        doloribus dolorum ipsa iste neque optio, pariatur quidem quisquam veritatis. Corporis culpa illum impedit in
        iusto libero modi quasi?</p>
    <button>Create Article</button>
</div>

</body>
</html>